* {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
  html, body {
    height: 100vh;
    width: 100vw;
    margin: 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #f3f2f2;
  }
  
  h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    opacity: 0.85;
  }
  
  label {
    font-size: 12.5px;
    color: #000;
    opacity: 0.8;
    font-weight: 400;
  }
  
  form {
    padding: 40px 30px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    width: 300px;
  }
  form h4 {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
  }
  form h4 span {
    color: black;
    font-weight: 700;
  }
  form p {
    line-height: 155%;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    opacity: 0.65;
    font-weight: 400;
    max-width: 200px;
    margin-bottom: 40px;
  }
  
  a.discrete {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    padding-bottom: 4px;
    margin-left: auto;
    font-weight: 300;
    transition: all 0.3s ease;
    margin-top: 40px;
  }
  a.discrete:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }
  
  button {
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: #b08bf8;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
  }
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
  }
  button:hover:active {
    transform: scale(0.99);
  }
  
  input {
    font-size: 16px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 280px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;
  }
  input:focus {
    border-bottom: solid 1px #b69de6;
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
  }
  
  .session {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    margin: auto auto;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);

    min-height: 40%;
    position: relative;
    background-image: url(foto3.jpg);
    background-size:cover;

  }
  .session{
  -webkit-transition: -webkit-transform 60s ease-in;
  transition: transform 60s ease-in;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1.30);
  -webkit-transform-origin: left right;
  -ms-transform-origin: left right;
  transform-origin: left right;
  }





  .left svg {
  height: 40px;
  width: auto;
  margin: 20px;
  }

  .cima{
  width : 42%;
  height: auto;
  margin: 0 auto;
  border-left: 1px solid white;

  }

  .baixo{
  width : 42%;
  height: auto;
  margin: 0% auto;
  border-right: 1px solid white;

  }
  .footer-container{
    position: absolute;
    bottom: 0;
    float: left;
    width: 100%;
    height: 40;
    background-color: rgba(34, 30, 30, 0.747);
    text-align: center;
    align-items: center;
  }
  .wrapper a{
    font-size: 15px;
    font-family: kiona;
  }



  .footer-container a {
    color: rgb(252, 252, 252);

  }
  form{
    background-color: rgba(255, 255, 255, 0.753);
    margin: 29% auto;
    width: 250px;
    height: 50%;
  }
  form input{
    color: rgb(37, 37, 37);
    width: 100%;
    margin-bottom: 20px;
    background-color:transparent;
    text-align: center;
    font-size: 20px;
  }
  .session p{
    position: relative;
    font-family: kiona;
    font-size: 27px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: -50px;
    text-align: center;
  }

  