<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/primeirapagi.css'>
    <title>Bem vindo!</title>
</head>
<body>
    <div class="session">
        <div class="cima">
          <p>Faça seu Login</p>
          <form>
            <input type="text" placeholder="Insira seu email">
            <input type="password" placeholder="Insira sua senha">
            <br><br><br>
            <input type="submit" value="Logar">

          </form>
        </div>
        <div class="baixo">
          <p>Faça seu Cadastro</p>
          <form>
            <input type="text" placeholder="Insira seu email">
            <input type="password" placeholder="Insira sua senha">
            <br><br><br>
            <input type="submit" value="Cadastrar">

          </form>
        </div>
        
    </div>
    <div class="footer-container">
      <footer class="wrapper">
          <a>©João Nogaroli  jv.nogaroli@gmail.com</a>
      </footer>
  </div>
  </body>
</html>

