<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/teste" method="GET">
        <div id="column">
            {% for item_a in value_a %}
            <li>{{ item_a }}</a>
            {% endfor %}


        </div>
        <div id="column">
            {% for item_b in value_b %}
            <li>{{ item_b }}</a>
            {% endfor %}
        </div>
    </form>
</body>
</html>